name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av \
            --exclude build \
            --exclude install \
            --exclude log \
            --exclude __pyache__ \
            ./ /root/ros2_ws/src/era_converter/
          cd /root/ros2_ws
          bash -xv ./src/era_converter/test/test.bash /root
